body {
  background-color: #F49E88;
}

iframe {
  margin-bottom: 2rem;
  border: 2px solid #701131;
}

.card {
  background-color: #b5223f3d;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 24px;
  padding: 2rem 0 2rem 0;
  font-weight: 500;
  margin-bottom: 16px;
  color: #FAFAFA;
}

.card-link {
  background-color: #701131;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 24px 24px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s;
  top: 2rem;
}

.card-link:hover {
  color: #F49E88;
}